/* ==========================================================================
   Main CSS
   ========================================================================== */
body {
  font-family: 'Open Sans', 'helvetica', 'arial', sans-serif;
  font-weight: 400;
  color: #282828;
  background-color: #e6e6e6;
  letter-spacing: 0.02em;
  line-height: 150%;
}

.page-wrapper {
  min-height: 100vh;
}

/*  NAV ================================================================== */
.navbar--main {
  background-color: #282828;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.navbar-nav {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  place-content: space-between;
}
.navbar--main .nav-item {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 32px;
}
.navbar--main .nav-item a:not(.dropdown-item) {
  padding: 0;
}

.dropdown .dropdown-menu {
  min-height: calc(100vh - 200px - 50px);
  position: absolute;
  bottom: 0px;
  left: 0;
  min-width: 400px;
  max-width: 100vw;
  overflow: auto;
  background-color: #313131;
  color: #fff;
  margin: 0;
  padding: 2px 0 0;
  border: 0;
  border-radius: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: block;
  visibility: visible;

}
@media screen and (max-width: 700px) {
  .dropdown .dropdown-menu {
    width: 100vw;
    min-height: unset;
    overflow: visible;
    min-height: fit-content;
    transform: translateX(0%);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
}

.dropdown.show .dropdown-menu {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.nav-item i { display: inline-block; width: 20px; }
.nav-item:not(.dropdown) i { text-align: right; }
.dropdown:not(.show) i.close-icon { display: none; }
.dropdown.show i.open-icon { display: none; }
.dropdown-toggle::after {
  display: none;
}
.dropdown-item {
  color: #eee;
  padding: 24px 40px 24px 32px;
  border-bottom: 2px solid #282828;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.dropdown a {
  color: #eee;
}
.dropdown a:visited {
  color: #eee;
}
.dropdown a:hover {
  color: #eaeaea;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #282828;
}

/*  BANNER =============================================================== */
.banner {
  position: relative;
  height: 200px;
  background-color: #3e5469;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.banner__img {
  min-width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
}
.banner__logo {
  height: 130px;
  margin-left: 32px;
}
/*  HEADINGS ============================================================= */
h1 {
  font-weight: 600;
  font-size: 48px;
}
h2 {
  font-weight: 300;
  color: #002f50;
  font-size: 40px;
}
h3{
  font-size: 32px;
}
h3{
  font-size: 24px;
}
h5 {
  font-size: 14px;
}
h3, h4, h5, h6 {
  font-weight: 400;
  color: #3d5466;
}
/*  Links ================================================================ */

a {
  color: #0072ce;
  text-decoration: none;
  text-underline-position: under;
  cursor: pointer;
  font-size: 14px;
}
a:visited {
  color: #407bae;
}
a:hover {
  text-decoration: underline;
}

p {
  font-weight: 300;
}
/*  CONTENT ============================================================== */
@media screen and (min-width: 900px) {
  .page--index {
    padding: 80px 0;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1700px;
  /* background: #eee; */
  padding: 0;
}

.card--home {
  padding: 40px;
  width: calc(100% - 60px);
  z-index: 2;
  background-color: #ebebeb;
  box-shadow: none;
  /* background-color: #fff;
  box-shadow: 0 0 13px 1px rgba(173, 172, 172, .3); */
  border: none;
  margin: -60px 30px 0;
  border-radius: 0;
}

@media screen and (min-width: 900px) {
  .card--home {
    width: 44.8%;
    padding: 48px;
  }
  .container {
    padding: 40px;
  }
}

@media screen and (min-width: 1300px) {
  .card--home {
    width: 35%;
    padding: 52px;
  }
}


.bg-image img {
  max-width: 100%;
}
.bg-image img {
  max-height: 900px;
  max-width: 100%;
  margin: 0 auto;
  object-fit: cover;
}
@media screen and (max-width: 900px) {
  .card--home { margin-bottom: 16px;}
}

@media screen and (max-width: 900px) {
  .bg-image {
    width: 100%;
  }

  .bg-image img {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {

  .bg-image {
    height: 20px;
    z-index: 1;
    overflow: visible;
    width: 85%;
    display: flex;
    flex-direction: column;
  }

  .bg-image img {
    max-height: 900px;
    max-width: 70%;
    margin: 0 auto;
  }



  .bg-image--top-right {
    position: relative;
    align-self: flex-end;
    top: -40px;
  }

  .bg-image--top-left {
    position: relative;
    align-self: flex-start;
    top: -40px;
    text-align: right;
  }

  .bg-image--bottom-right {
    position: relative;
    align-self: flex-end;
    top: 40px;
  }

  .bg-image--bottom-left {
    position: relative;
    align-self: flex-start;
    top: 40px;
    text-align: right;
  }

  .card--home--top-right {
    position: relative;
    align-self: flex-end;
    top: -40px;
  }

  .card--home--top-left {
    position: relative;
    align-self: flex-start;
    top: -40px;
    text-align: right;
  }

  .card--home--bottom-right {
    position: relative;
    align-self: flex-end;
    top: 40px;
  }

  .card--home--bottom-left {
    position: relative;
    align-self: flex-start;
    top: 40px;
    text-align: right;
  }
}
@media screen and (min-width: 1100px) {
  .bg-image {
    width: 65%;
  }
}
/*  FOOTER =============================================================== */
footer {
  background-color: #282828;
  height: 50px;
  width: 100%;
  color: #333;
  margin-top: 120px;
}
.helpline {
  background-color: #282828;
  color: #e6e6e6;
  padding: 15px;
  text-align: center;
  padding: 24px;
}
.helpline h4 {
  color: #eee;
  font-weight: 300;
  margin-bottom: 6px;
}
.helpline .call-us-button {
    border: 1px solid #fff;
    font-size: 16px;
    min-height: 25px;
    min-width: 150px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #FFF;
    background-color: transparent;
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
}
.hbe-legal {
    background-color: #000;
    text-align: center;
    font-size: 12px;
    color: #b6b6b6;
    padding: 18px 0;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
.hbe-legal li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.hbe-legal a {
    color: #b6b6b6;
    margin-bottom: 12px;
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.hbe-legal li:not(:last-child)::after {
    content: "|";
    padding: 0 8px 0 8px;
    color: #666;
}
