/* ==========================================================================
   Main CSS
   ========================================================================== */
body {
  font-family: 'Open Sans', 'helvetica', 'arial', sans-serif;
  font-weight: 400;
  color: #282828;
  background-color: #e6e6e6;
  letter-spacing: 0.02em;
  line-height: 150%;
}

.page-wrapper {
  min-height: 100vh;
}

/*  NAV ================================================================== */
.navbar--main {
  background-color: #282828;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.navbar-nav {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  place-content: space-between;
}
.navbar--main .nav-item {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 32px;
}
.navbar--main .nav-item a:not(.dropdown-item) {
  padding: 0;
}

.dropdown .dropdown-menu {
  min-height: calc(100vh - 200px - 50px);
  position: absolute;
  bottom: 0px;
  left: 0;
  min-width: 400px;
  max-width: 100vw;
  overflow: auto;
  background-color: #313131;
  color: #fff;
  margin: 0;
  padding: 2px 0 0;
  border: 0;
  border-radius: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: block;
  visibility: visible;

}
.nav-item.dropdown{
  position: static;
}
@media screen and (max-width: 700px) {
  .dropdown .dropdown-menu {
    width: 100%;
    min-height: unset;
    overflow: visible;
    min-height: fit-content;
    transform: translateX(0%);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
}

.dropdown.show .dropdown-menu {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.nav-item i { display: inline-block; width: 20px; }
.nav-item:not(.dropdown) i { text-align: right; }
.dropdown:not(.show) i.close-icon { display: none; }
.dropdown.show i.open-icon { display: none; }
.dropdown-toggle::after {
  display: none;
}
.dropdown-item {
  color: #eee;
  padding: 24px 40px 24px 32px;
  border-bottom: 2px solid #282828;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.dropdown a {
  color: #eee;
}
.dropdown a:visited {
  color: #eee;
}
.dropdown a:hover {
  color: #eaeaea;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #282828;
}

/*  BANNER =============================================================== */
.banner {
  position: relative;
  height: 200px;
  background-color: #3d5567;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.banner__img {
  height: 100%;
  width: auto;
  float: right;
}
.banner__logo {
  height: 130px;
  margin-left: 32px;
}
/*  HEADINGS ============================================================= */
h1 {
  font-weight: 300;
  color: #002f50;
  font-size: 54px;
}
h2 {
  font-weight: 300;
  color: #002f50;
  font-size: 37px;
}
h3{
  font-size: 32px;
}
h4{
  font-size: 24px;
}
h5 {
  font-size: 14px;
}
h3, h4, h5, h6 {
  font-weight: 400;
  color: #3d5466;
}
@media screen and (max-width: 1300px) {
  h1 { font-size: 44px; }
  h2 { font-size: 30px; }
  h3{ font-size: 26px; }
  h4 { font-size: 22px; }
  h5 { font-size: 14px; }
}

@media screen and (max-width: 900px) {
  h1 { font-size: 36px; }
  h2 { font-size: 25px; }
  h3{ font-size: 20px; }
  h4 { font-size: 17px; }
  h5 { font-size: 14px; }
}
/*  Links ================================================================ */

a {
  color: #0072ce;
  text-decoration: none;
  text-underline-position: under;
  cursor: pointer;
  font-size: 14px;
}
a:visited {
  color: #407bae;
}
a:hover {
  text-decoration: underline;
}

p {
  font-weight: 300;
}
/*  CONTENT ============================================================== */
@media screen and (min-width: 900px) {
  .page--index {
    padding: 80px 0;
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1700px;
  /* background: #eee; */
  padding: 0;
}

.card--home {
  padding: 40px;
  width: calc(100% - 60px);
  z-index: 2;
  background-color: #ebebeb;
  box-shadow: none;
  /* background-color: #fff;
  box-shadow: 0 0 13px 1px rgba(173, 172, 172, .3); */
  border: none;
  margin: -60px 30px 0;
  border-radius: 0;
}

@media screen and (min-width: 900px) {
  .card--home {
    width: 44.8%;
    padding: 48px;
  }
  .container {
    padding: 40px;
  }
}
.container--content { padding: 0 40px 40px;}
@media screen and (min-width: 1300px) {
  .card--home {
    width: 35%;
    padding: 52px;
  }
}


.bg-image img {
  max-width: 100%;
}
.bg-image img {
  width: 100%;
  margin: 0 auto;
  /* max-height: 900px;
  object-fit: cover; */
}
@media screen and (max-width: 900px) {
  .card--home { margin-bottom: 16px;}
}

@media screen and (max-width: 900px) {
  .bg-image {
    width: 100%;
  }

  .bg-image img {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {

  .bg-image {
    height: 20px;
    z-index: 1;
    overflow: visible;
    width: 85%;
    display: flex;
    flex-direction: column;
  }

  .bg-image img {
    max-height: 900px;
    width: 70%;
    margin: 0 auto;
  }



  .bg-image--top-right {
    position: relative;
    align-self: flex-end;
    top: -40px;
  }

  .bg-image--top-left {
    position: relative;
    align-self: flex-start;
    top: -40px;
    text-align: right;
  }

  .bg-image--bottom-right {
    position: relative;
    align-self: flex-end;
    top: 40px;
  }

  .bg-image--bottom-left {
    position: relative;
    align-self: flex-start;
    top: 40px;
    text-align: right;
  }

  .card--home--top-right {
    position: relative;
    align-self: flex-end;
    top: -40px;
  }

  .card--home--top-left {
    position: relative;
    align-self: flex-start;
    top: -40px;
    text-align: right;
  }

  .card--home--bottom-right {
    position: relative;
    align-self: flex-end;
    top: 40px;
  }

  .card--home--bottom-left {
    position: relative;
    align-self: flex-start;
    top: 40px;
    text-align: right;
  }
}
@media screen and (min-width: 1100px) {
  .bg-image {
    width: 65%;
    height: 50px;
  }
}
@media screen and (min-width: 1500px) {
  .bg-image {
    width: 65%;
    height: 80px;
  }
}
/*  FOOTER =============================================================== */
footer {
  background-color: #282828;
  height: 50px;
  width: 100%;
  color: #333;
  margin-top: 120px;
}
.helpline {
  background-color: #282828;
  color: #e6e6e6;
  padding: 15px;
  text-align: center;
  padding: 24px;
}
.helpline h4 {
  color: #eee;
  font-weight: 300;
  margin-bottom: 6px;
}
.helpline .call-us-button {
    border: 1px solid #fff;
    font-size: 16px;
    min-height: 25px;
    min-width: 150px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #FFF;
    background-color: transparent;
    -webkit-appearance: button;
    cursor: pointer;
    overflow: visible;
}
.hbe-legal {
    background-color: #000;
    text-align: center;
    font-size: 12px;
    color: #b6b6b6;
    padding: 18px 0;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
.hbe-legal li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.hbe-legal a {
    color: #b6b6b6;
    margin-bottom: 12px;
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.hbe-legal li:not(:last-child)::after {
    content: "|";
    padding: 0 8px 0 8px;
    color: #666;
}
a.footer__next-page, a.footer__next-page:visited {
  position: absolute;
  right: 32px;
  color: rgba(255,255,255,.5);
  text-decoration: none;
}
a.footer__next-page:hover, a.footer__next-page:active  {
  color: rgba(255,255,255,.75);
}
/*  PAGES CONTENT =============================================================== */
.card--content {
  margin: -100px 30px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-section {
  background-color: #e9e9e9;
  padding: 30px 40px;
  z-index: 3;
  box-shadow: 0 1px 10px rgba(0,0,0,0.03);
}
.content-section:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.content-section *:last-child{
  margin-bottom: 0;
}
.bg-image--content img {
  max-width: 100%;
}
@media screen and (min-width: 900px) {
  .content-section--left {
    width: 70%;
    align-self: flex-start;
  }
  .content-section--right {
    width: 70%;
    align-self: flex-end;
  }
  .content-section--middle {
    width: 70%;
    align-self: center;
  }
  .bg-image--content {
    height: 20px;
    z-index: 1;
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
  .bg-image--content img {
    max-width: 100%;
    /* max-height: 900px;
    object-fit: cover; */
  }

  .bg-image--content {
    max-width: 40%;
  }
  .bg-image--content--top-right {
    align-self: flex-end;
    margin-right: -40px;
    margin-top: -30px;
  }
  .bg-image--content--top-left {
    align-self: flex-start;
    margin-left: -40px;
    margin-top: -30px;
  }
  .bg-image--content--bottom-right {
    align-self: flex-end;
    margin-right: -40px;
    margin-bottom: -30px;
  }
  .bg-image--content--bottom-left {
    align-self: flex-start;
    margin-left: -40px;
    margin-bottom: -30px;
  }
  .bg-image--content--below-right {
    z-index: 0;
    padding-right: 10%;
  }
  .bg-image--content--below-left {
    z-index: 0;
    padding-left: 10%;
  }
}

@media screen and (min-width: 1900px) {
  .bg-image--content {
    max-width: 40%;
  }
  .bg-image--content--top-right {
    margin-right: -60px;
  }
  .bg-image--content--top-left {
    margin-left: -60px;
  }
  .bg-image--content--bottom-right {
    margin-right: -60px;
  }
  .bg-image--content--bottom-left {
    margin-left: -60px;
  }
}


/*  Cookies Consent =============================================================== */

.cc-cookies { position:fixed; border-top: 1px solid #ccc; width: 100%; left: 0; bottom: 0; padding: 30px 32px; background: #ebebeb; z-index: 1000; text-align: center; font-weight: 300; color: #888;}
.cc-cookies a, .cc-cookies a:hover { color: #fff; text-decoration: underline; }
.cc-cookies a:hover { text-decoration: none; }
.cc-overlay { height: 100%; padding-top: 25%; }
.cc-cookies-error { float: left; width: 90%; text-align: center; margin: 1em 0 2em 0; background: #fff; padding: 2em 5%; border: 1px solid #eee; font-size: 18px; color: #333; }
.cc-cookies a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies-error a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset { display: inline-block; color: #888; text-decoration: none; border: 1px solid #aaa; padding: 3px 25px; margin: 0 10px;}
.cc-cookies a.cc-cookie-decline, .cc-cookies-error a.cc-cookie-decline { margin-left: 0.5em; }
a.cc-cookie-decline { color: #ccc; border: 1px solid #ccc; }
.cc-cookies a.cc-cookie-reset { background: #f15b00; }
.cc-cookies a:hover.cc-cookie-accept, .cc-cookies-error a:hover.cc-cookie-accept, .cc-cookies a:hover.cc-cookie-decline, .cc-cookies-error a:hover.cc-cookie-decline, .cc-cookies a:hover.cc-cookie-reset  { color: #333; border: 1px solid #333; }
.cc-cookies-error a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-decline { display: block; margin-top: 1em; }
.cc-cookies.cc-discreet { width: auto; padding: 0.5em 1em; left: auto; top: auto; }
.cc-cookies.cc-discreet a.cc-cookie-reset { background: none; text-shadow: none; padding: 0; text-decoration: underline; }
.cc-cookies.cc-discreet a:hover.cc-cookie-reset { text-decoration: none; }

@media screen and (max-width: 768px) {
.cc-cookies a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset { display: block; margin: 1em 0; }
}

@media screen and (max-width: 480px) {
.cc-cookies { position: relative; float: left; }
}











@keyframes fade-in {
    from {opacity: 0; }
    to {opacity: 1;}
}
@keyframes fade-up {
    from {opacity: 0; transform: translateY(200px) scale(.85); }
    to {opacity: 1;}
}
.banner__img {
  animation: fade-in .7s ease-out;
}
.fade-in-element.bg-image--content, .fade-in-element.bg-image {
  opacity: 0;
  animation: fade-up .8s 0.3s ease-in-out forwards;
}
.fade-in-element {
  animation: fade-up 1.1s ease-out;
}
